* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body, html {
  background-color:#26233a;
  font-family: 'Berkshire Swash', cursive;
}

header {
  color:#c4a7e7;
  font-size: 25px;
  padding: 15px;
  text-align: center;
}

footer {
  font-size: 35px;
  padding-bottom: 10px;
  text-align: center;
  color:#c4a7e7;
  padding: 15px;
}

nav {
  font-size: 35px;
  color:#3e8fb0;
  padding-top: 25px;
  text-align: right;
  padding-right: 8px;
}

a:link {
  text-decoration: none;
  color:#c4a7e7;
}

a:visited {
  color:#c4a7e7;
}

a:hover {
  color:#c4a7e7;
}

.active {
  background-color:#26233a;
  padding-left: 10px;
  padding-right: 10px;
  color:#c4a7e7;
} 

ul {
  font-size: 33px;
  font-weight: bolder;
  text-align: center;
  list-style-type:none;
}

#themebtn {
  font-size: 30px;
  background-color: inherit;
  border: 0px;
}

#savebtn {
  font-size: 50px;
  visibility: hidden;
  background-color: inherit;
  border: 0px;
}

#delbtn {
  font-size: 50px;
  visibility: hidden;
  background-color: inherit;
  border: 0px;
}

.note {
  margin-right: 5px;
}

#mainrow {
  background-color: #26233a;
}

#sidebarcolumn {
  grid-column: 1;
  grid-row: 2;
  font-size: 60px;
  text-align: center;
  background-color:#26233a;
  color:#c4a7e7;
}

#leftcolumn {
  grid-column: 2;
  grid-row: 2;
  background-color:#c4a7e7;
}

#maincolumn {
  grid-column: 3;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  background-color: #c4a7e7;
  color:#26233a;
  justify-content: center;
  align-items: center;
  visibility: visible;
}

.textarea1 {
  width: 100%;
  height: 400px;
  visibility: visible;
}

#rightcolumn {
  grid-column: 4;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  background-color: #c4a7e7;
  justify-content: center;
  align-items: center;
  visibility: visible;
}

#opentextareabtn {
  text-align:center;
  font-size: 60px;
  background-color: inherit;
  border: 0px;
}

#openclosebtn {
  background-color: inherit;
  border: 0px;
  font-size: 50px;
}

#holdertext {
  font-family: 'Cookie', cursive;
  font-size: 50px;
  padding-bottom: 10px;
  text-align: center;
}

@media only screen and (min-width: 680px) { 
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr;
    grid-template-rows: 0px 600px;
    grid-gap: 0px;
  }
  header {text-align: left;}
  header > h1 {display: inline-flex;}
  #themebtn {font-size: 50px; text-align: right;}
  #openclosebtn {font-size: 75px;}
  #savebtn {font-size: 80px;}
  #delbtn {font-size: 80px;}
  #opentextareabtn {font-size: 85px;}
}