* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body, html {
  background-color:#26233a;
  font-family: 'Berkshire Swash', cursive;
}

[class*="col-"] {
  width: 100%;
  float: left;
  padding: 15px;
}


header {
  background-color: #26233a;
  color:#c4a7e7;
  font-size: 25px;
}

footer {
  font-size: 35px;
  padding-bottom: 10px;
  text-align: center;
  color:#c4a7e7;
  background-color: #26233a;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

nav {
  font-size: 35px;
  color:#26233a;
  padding-top: 25px;
  text-align: right;
  padding-right: 8px;
}

a:link {
  text-decoration: none;
  color:#26233a;
}

a:visited {
  color:#26233a;
}

a:hover {
  color: #c4a7e7;
}

.active {
  background-color#26233a;
  padding-left: 10px;
  padding-right: 10px;
  color:#26233a;
} 

.sidebar {
  background-color:#26233a;
  color:#c4a7e7;
}

#sd {
  background-color:#26233a ;
}

ul {
  font-size: 33px;
  font-weight: bolder;
  text-align: center;
  list-style-type:none;
}

#savebtn {
  font-size: 50px;
  visibility: hidden;
}

#delbtn {
  font-size: 50px;
  visibility: hidden;
}

.note {
  margin-right: 5px;
}

#main {
  background-color: #c4a7e7;
}

#maincolumn {
  display: flex;
  flex-direction: column;
  background-color: #c4a7e7;
  justify-content: center;
  align-items: center;
  visibility: visible;
}

#rightcolumn {
  display: flex;
  flex-direction: row;
  background-color: #c4a7e7;
  justify-content: center;
  align-items: center;
  visibility: visible;
}

#opentextareabtn {
  text-align:center;
  font-size: 60px;
}

.openbtn {
  font-size: 60px;
  text-align: center;
}

.closebtn {
  font-size: 60px;
  text-align: center;
}

p {
  font-family: 'Cookie', cursive;
  font-size: 50px;
  padding-bottom: 10px;
  text-align: center;
  color:#26233a;
}

.t {
  width:100%;
  height:400px;
  visibility: visible;
}

@media only screen and (min-width: 680px) { 
  #maincolumn {min-height: 78vh;}
  #rightcolumn {min-height: 78vh;}
  .sidebar {min-height: 78vh;}
  .openbtn {font-size: 75px;}
  .closebtn {font-size: 75px;}
  #savebtn {font-size: 80px;}
  #delbtn {font-size: 80px;}
  #opentextareabtn {font-size: 85px;}
  .col-1 {width: 8.33%;} 
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}