* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body,
html {
  background-color: #c4a7e7;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

a:link {
  text-decoration: none;
  color:#286983
  }

.header {
background-color: #907aa9;
color:#d7827e;
font-size: 25px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 1px;
}

.nav {
  font-size: 30px;
  color:#3e8fb0;
  text-align: center;
 }

a:visited {
  color:#ea9d34;
}

a:hover {
  color:#286983;
}

a:active {
  background-color: coral;
  color: yellow;
} 

.footer {
  background-color: #907aa9;
  padding: 15px;
}

.sidebar {
  background-color:#907aa9;
  min-height: 89vh;
  color:#ea9d34
}

ul {
  font-size: 30px;
  font-weight: bolder;
}

.save {
  font-size: 80px;
}

.delete {
  font-size: 80px;
}

.note {
  margin-right: 5px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
}

.Notes {
  text-align:center;
  font-size: 100px;
}

.openbtn {
  font-size: 75px;
}

.closebtn {
  font-size: 75px;
}

p {
  font-family: 'Cookie', cursive;
  font-size: 50px;
  padding-bottom: 10px;
  text-align: center;
}
